#header {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

#map-area {
    display:inline-block;
    height: 100%;
    width: 10px;
}

#filter-area {
	padding: 10px;
    display:inline-block;
    height: 100%;
    width: 35%;
    vertical-align: top;
}

#day, #category, #daytime, #nighttime {
    display:inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#radius-selection {
	padding: 10px;
}

#category_options, #day_options {
    height: 210px;
    overflow: scroll;
}

